#content {
  margin: 0 auto;
  max-width: 1000px;
}

img {
  max-height: 600px;
  object-fit: cover;
}

#nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 2rem;
  margin: 0.1rem 0 3rem 0;
}

button {
  background-color: white;
  border: none;
  height: 4rem;
  font-size: 2.25rem;
  font-family: 'Arapey', serif;
}

#brand {
  font-family: 'Noto Serif', serif;
  font-size: 1.5rem;
}

#mutating-div {
  max-width: 900px;
  margin: auto;
}